@font-face {
    font-family: 'FoundryGridnik';
    src: url('FoundryGridnik-Medium.woff2') format('woff2'),
        url('FoundryGridnik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'FoundryGridnik';
    src: url('FoundryGridnik-Regular.woff2') format('woff2'),
        url('FoundryGridnik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



body, h1, h2, h3, p{
	font-family: 'FoundryGridnik', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}



canvas {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
}

.scene-nav {
	font-size: 1.15em;
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;
	background: none;
	border: 0;
	right: 0;
	padding: 1.5em;
	color: var(--color-nav);
}

.scene-nav:focus {
	outline: none;
}

.scene-nav--prev {
	left: 0;
	width: 1.5em;
}



.tagcontents {
	
    position: relative;
    z-index: 5;
    color: #fff;
    text-align: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tagcontents h1 {
	font-size: 96px;
	letter-spacing: 5px;
	text-transform: uppercase;

	font-weight: 300;
	line-height: 100px;
	margin-bottom: 20px;
}



.slide-wrapper {
	display: none;
}

.icon--arrow-nav-next {
	transform: rotate(-180deg);
}


.strobes {
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: 999;
	display: block;
	text-align: center;
	filter: blur(1rem);
	overflow: hidden;
	animation: strobbing 1.5s;
	animation-iteration-count: 1;
	opacity: 0;
	display: none;
}

@keyframes strobbing {
  0% {opacity: 0; filter: blur(2rem);}
  50% {opacity: 0.8; filter: blur(5rem);}
  100% {opacity: 0; filter: blur(0.5rem);}
}

.strobe-x1 {
	position: absolute;
    left: 50%;
    transform: translateY(-50%) rotate(45deg) translateX(30vh);
    height: 300vh;
    width: 80px;
    background: #fff;
    top: 0px;
    transform-origin: center center;
}

.strobe-x2 {
	position: absolute;
    left: 50%;
    transform: translateY(-50%) rotate(-45deg) translateX(-42vh);
    height: 300vh;
    width: 80px;
    background: #fff;
    top: 0px;
    transform-origin: center center;
}

.strobe-col {
	height: 100vh;
	width: 25px;
	display: inline-block;
	background: #fff;
	margin:0 30px;
}

.main__content__container {
	
	position: relative;
	left:0;
	width: 100vw;
	background:#000;
	z-index: 999;
	min-height: 80vh;
}

.main__content {
	display: block;
	position: relative;
}